.treeview {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.treeview-node-body {
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
}

.treeview-node-body > * {
    display: inline-block;
    font-size: initial;
}

.treeview-node-bullet {
    width: 1em;
}

.treeview-node-collapse > .treeview-node-body > .treeview-node-bullet::before,
.treeview-node-expand > .treeview-node-body > .treeview-node-bullet::before {
    color: black;
    content: "\25B6";
    display: inline-block;
    font-family: sans-serif;
    font-size: 10px;
}

.treeview-node-expand > .treeview-node-body > .treeview-node-bullet::before {
    transform: rotate(90deg);
}

.treeview-node-children {
    margin-left: 1em;
}

.treeview-node-selected > .treeview-node-body > .treeview-node-label {
    background-color: mediumblue;
    border: solid black 1px;
    color: white;
}